@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --background: #1f2937;
}

* {
  background-color: var(--background);
  font-family: Roboto;
}
body {
  padding: 0 20% 0 20%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1 h2 {
  padding: none;
  margin: none;
}

.navbar {
  padding: 10px;
}
.navbar-logo {
  display: inline;
  align-self: right;
  color: #f9faf8;
  font-size: 24px;
}
.navbar-item {
  display: inline;
  float: right;
  padding: 0 2% 0 2%;
  font-size: 18px;
}
.navbar-item a:link {
  color: #e5e7eb;
  text-decoration: none;
}
.navbar-item a:visited {
  color: #e5e7eb;
  text-decoration: none;
}

.intro {
  display: flex;
  border: dashed;
  border-color: red;
}
.intro h1 {
  border: inherit;
}
